.father{
    width: 600px;
    height: 400px;
    background-color: #f1f1f1;
    display: table;
}
.child{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: lightcoral;
}